{%- if data.errors is defined and data.errors -%}
{
  "errors": [
    {
      "code": "{{ data.errors[0].code }}",
      "message": "{{ data.errors[0].message }}"
    }
  ]
}
{%- else -%}
{
  "message": {
    "ack_status": "ACK",
    "timestamp": "{{ data.response_header.response_timestamp }}",
    "error": {
      "code": "{{ data.response_header.response_error_code }}",
      "message": "{{ data.response_header.response_error_message }}"
    },
    "correlation_id": "{{ data.response_body.response_payload.correlation_id }}"
  }
}
{%- endif -%}
