{% set p = expanded[0] %}

{% set name0 = (p.get('https://schema.spdci.org/common/v1name', [{}]) | first) %}
{% set birth_place0 = (p.get('https://schema.spdci.org/common/v1birth_place', [{}]) | first) %}
{% set birth_geo0 = (birth_place0.get('https://schema.spdci.org/common/v1geo', [{}]) | first) %}
{% set address0 = (p.get('https://schema.spdci.org/common/v1address', [{}]) | first) %}
{% set geo_loc0 = (address0.get('https://schema.spdci.org/common/v1geo_location', [{}]) | first) %}
{% set plus_code0 = (geo_loc0.get('https://schema.spdci.org/common/v1plus_code', [{}]) | first) %}
{% set geometry0 = (plus_code0.get('https://schema.spdci.org/common/v1geometry', [{}]) | first) %}
{% set location0 = (geometry0.get('https://schema.spdci.org/common/v1location', [{}]) | first) %}
{% set identifier0 = (p.get('https://schema.spdci.org/common/v1identifier', [{}]) | first) %}

{% set surname = (name0.get('https://schema.spdci.org/common/v1surname', [{}]) | first).get('@value','') %}
{% set given_name = (name0.get('https://schema.spdci.org/common/v1given_name', [{}]) | first).get('@value','') %}
{% set middle_name = (name0.get('https://schema.spdci.org/common/v1second_name', [{}]) | first).get('@value','') %}
{% set prefix = (name0.get('https://schema.spdci.org/common/v1prefix', [{}]) | first).get('@value','') %}
{% set suffix = (name0.get('https://schema.spdci.org/common/v1suffix', [{}]) | first).get('@value','') %}
{% set foundational_id = (identifier0.get('https://schema.spdci.org/common/v1identifier_value', [{}]) | first).get('@value','') %}
{% set sex_value = (p.get('https://schema.spdci.org/common/v1sex', [{}]) | first).get('@value','') %}
{% set birth_date = (p.get('https://schema.spdci.org/common/v1birth_date', [{}]) | first).get('@value','') %}
{% set phone_numbers = p.get('https://schema.spdci.org/common/v1phone_number', []) %}
{% set emails = p.get('https://schema.spdci.org/common/v1email', []) %}
{% set marital_status = (p.get('https://schema.spdci.org/common/v1marital_status', [{}]) | first).get('@value','') %}
{% set marriage_date = (p.get('https://schema.spdci.org/common/v1marriage_date', [{}]) | first).get('@value','') %}
{% set divorce_date = (p.get('https://schema.spdci.org/common/v1divorce_date', [{}]) | first).get('@value','') %}
{% set latitude = (location0.get('https://schema.spdci.org/common/v1latitude', [{}]) | first).get('@value', '') %}
{% set longitude = (location0.get('https://schema.spdci.org/common/v1longitude', [{}]) | first).get('@value', '') %}
{% set plus_code = (plus_code0.get('https://schema.spdci.org/common/v1global_code', [{}]) | first).get('@value','') %}
{% set address_line_1 = (address0.get('https://schema.spdci.org/common/v1address_line1', [{}]) | first).get('@value','') %}
{% set address_line_2 = (address0.get('https://schema.spdci.org/common/v1address_line2', [{}]) | first).get('@value','') %}
{% set postal_code = (address0.get('https://schema.spdci.org/common/v1postal_code', [{}]) | first).get('@value','') %}
{% set country_code = (address0.get('https://schema.spdci.org/common/v1country_code', [{}]) | first).get('@value','') %}
{% set geo_lowest_level = (address0.get('https://schema.spdci.org/common/v1sub_region_code', [{}]) | first).get('@value','') %}
{% set link_internal_record_id = (p.get('https://schema.spdci.org/common/v1link_internal_record_id', [{}]) | first).get('@value','') %}

{
  "internal_record_id": ""
  {% if link_internal_record_id %},"link_internal_record_id": "{{ link_internal_record_id }}"{% endif %}
  {% if surname or given_name %},"record_name": "{{ (given_name + ' ' + surname).strip() }}"{% endif %}
  
  {% if foundational_id %},"foundational_id": "{{ foundational_id }}"{% endif %}
  {% if given_name %},"first_name": "{{ given_name }}"{% endif %}
  {% if middle_name %},"middle_name": "{{ middle_name }}"{% endif %}
  {% if surname %},"last_name": "{{ surname }}"{% endif %}
  {% if given_name %},"given_name": "{{ given_name }}"{% endif %}
  {% if prefix %},"prefix": "{{ prefix }}"{% endif %}
  {% if suffix %},"suffix": "{{ suffix }}"{% endif %}
  
  {% if sex_value %},"gender": "{{ sex_value | upper }}"{% endif %}
  {% if birth_date %},"birth_date": "{{ birth_date }}"{% endif %}
  
  {% if phone_numbers %},"phone_numbers": [
    {% for ph in phone_numbers %}
      "{{ ph.get('@value','') }}"{% if not loop.last %},{% endif %}
    {% endfor %}
  ]{% endif %}
  
  {% if emails %},"emails": [
    {% for em in emails %}
      "{{ em.get('@value','') }}"{% if not loop.last %},{% endif %}
    {% endfor %}
  ]{% endif %}
  
  {% if marital_status %},"marital_status": "{{ marital_status | upper }}"{% endif %}
  {% if marriage_date %},"marriage_date": "{{ marriage_date }}"{% endif %}
  {% if divorce_date %},"divorce_date": "{{ divorce_date }}"{% endif %}
  
  {% if latitude %},"latitude": {{ latitude }}{% endif %}
  {% if longitude %},"longitude": {{ longitude }}{% endif %}
  {% if plus_code %},"plus_code": "{{ plus_code }}"{% endif %}
  {% if address_line_1 %},"address_line_1": "{{ address_line_1 }}"{% endif %}
  {% if address_line_2 %},"address_line_2": "{{ address_line_2 }}"{% endif %}
  {% if postal_code %},"postal_code": "{{ postal_code }}"{% endif %}
  {% if country_code %},"country_code": "{{ country_code }}"{% endif %}
  {% if geo_lowest_level %},"geo_lowest_level_value_id": "{{ geo_lowest_level }}"{% endif %}
  
  ,"edit_action": "ADD"
}